language: php

php:
  - 5.3
  - 5.4
  - 5.5

before_script:
    - composer install --dev
    - mkdir build

script:
    - ./vendor/bin/phpunit
    - ./vendor/bin/phploc --log-csv build/phploc.csv --exclude vendor .
